
header{
    text-align: center;
    
}


#Logo{
    height: 5%;
    
}

#sub-title{
    color: rgb(32, 120, 164);
    background-color: aliceblue;
}

#Intro{
    text-align: center;
    margin: auto;
}

#Recipe{
    height: 30em;
    
}

#Feat{
    color: rgb(113, 6, 6);
    font-weight: 600;
    margin-left: 35em;

}

#Credit{
    color: gray;
}

#Ingredients{
    margin-left: 37em;
    margin-right:37em;
}


#Method{
    margin-left: 5%;
}

#class-sub-title{
  
}